 body,ul,li,div{margin: 0;padding: 0;}
        ul{list-style: none;}
.row{margin:0 auto;}
.slide-wrap1{max-width: 800px;}
.slide-wrap2{max-width: 600px;}

@media screen and (max-width:600px) {
  .slide-wrap1{width:100%;}
  .slide-wrap2{width:100%;}
}